html{
    width: 100vw;
    background-color: #F2F98C;
    background-image: url("images/dark-mosaic.png");

}
body{
    display: flex; 
    flex-direction: column;
    width: 75%;
    background-color: rgba(0, 0, 0, 1);
    text-align: center;
    margin: auto;
    padding-left: 10px;
    padding-right: 20px;
    background-image: url("images/gun-metal.png");

}

img{
    width: 100%;
    padding: 3px;
}

h1{
    font-size: 40px;
    font-family: 'Tienne', serif;
    font-weight: normal;
    font-style: normal;
}

h2{
    color: #F2F98C;
    font-family: 'Dosis', sans-serif;
}

h3{
  font-size: 12px;
  color: #F2F98C;
  font-family: 'Dosis', sans-serif;
}

.main-title{
 text-align: center;
 align-content: center;
 color: black;
 background-color: #F2F98C;
padding-top: 2.5%;
padding-bottom: 2.5%;
border-radius: 5px;
}
.instruction{
  border-style: solid;
  border-color: #F2F98C;
  border-radius: 1%;
  padding: 2%;
  margin-bottom: 10%;

}
.main-wrap{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.thumbnail{
    border: solid 3px #F2F98C;
    border-radius: 2.5%;
    margin-bottom: 44px;
    height: 30vh;
    background-color: #F2F98C;
    cursor: pointer;
    transition: 0.3s;
}
.thumbnail:hover {
  animation: shake 0.5s;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% { transform: translate(5px, 0px) rotate(0deg); }
  20% { transform: translate(-5px, 0px) rotate(0deg);}
  40% { transform: translate(3px, 0px) rotate(0deg); }
  60% { transform: translate(-3px, 0px) rotate(0deg);}
  100% { transform: translate(0px, 0px) rotate(0deg); }
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    padding-left: 1.5%;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
.caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #F2F98C;
    padding: 10px 0;
    height: 150px;
  }

  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  .close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

  .qrcode{
    height: 300px;
    width: 300px;
    pointer-events: none;
    background: url('your_transparent.png');
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='your_transparent.png', sizingMethod='scale');
    background: none !important;
    z-index: 3;
  }
.hash{
    font-size: 8px;
    color: black;
    background-color: black;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 1px;
    padding-right: 1px;
}


/* COLOR CLASSES */

.blue {
  color: #F2F98C;
  -webkit-text-stroke: 2px black;
}

.blue:hover{
 color: black;
}


/* MEDIA QUERIES */

@media screen and (min-width: 400px) {
  body {
    width: 60%;
    padding-right: 15%;
    padding-left: 15%;
  }
    
}
@media screen and (min-width: 600px) {
    body {
      width:50%;
      padding-right: 15%;
      padding-left: 15%;
    }
      
  }
  
  @media screen and (min-width: 800px) {
    body {
      width:40%;
      padding-right: 15%;
      padding-left: 15%;
    }
      
  }
  
  @media screen and (min-width: 1000px) {
    body {
      width:30%;
      padding-right: 15%;
      padding-left: 15%;
    }
      
  }
  
  @media screen and (min-width: 1300px) {
    body {
      width:20%;
      padding-right: 15%;
      padding-left: 15%;
    }
      
  }
  
  @media screen and (max-width: 400px){
  .qrcode{
    width: 200px;
    height: 200px;
    margin-right: auto;
  }
  }
  /* FONTS */


  /* @font-face {
    font-family: "College";
    src: url('fonts/college_halo-webfont.woff2') format('woff2'),
         url('fonts/college_halo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'Arialic Hollow';
  src: url('fonts/ArialicHollow.woff2') format('woff2'),
      url('fonts/ArialicHollow.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
 */
